/target
/docs/book
validation/measurement_report.aux
validation/measurement_report.fdb_latexmk
validation/measurement_report.fls
validation/measurement_report.log
validation-ht/measurement_report.aux
validation-ht/measurement_report.fdb_latexmk
validation-ht/measurement_report.fls
validation-ht/measurement_report.log
*swp
