[graph]
targets = [
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "x86_64-unknown-linux-gnu" },
]

[licenses]
private = { ignore = true }
allow = [
    "Apache-2.0",
    "MIT",
    "ISC",
    "Unicode-DFS-2016",
    "BSD-3-Clause",
    "OpenSSL",
]

[[licenses.clarify]]
name = "ring"
expression = "ISC AND MIT AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]
