# Other values include trace, debug, warn and error
log-filter = "info"

# Allowed values: full, compact, pretty, json
log-format = "full"

# Pool servers from ntppool.org. See http://www.pool.ntp.org/join.html
# for more information
[[peers]]
mode = "pool"
addr = "ntpd-rs.pool.ntp.org"
max-peers = 4

# Alternative configuration for IPv6 only machines
#[[peers]]
#mode = "pool"
#addr = "2.pool.ntp.org"
#max-peers = 4

[observe]
path = "/run/ntpd-rs/observe"

# Serve NTP on any interface (requires permissions to use udp port 123)
[[server]]
addr = "0.0.0.0:123"

# Below are configured various thresholds beyond which ntpd-rs will not
# change the system clock. CHANGE THESE TO MATCH YOUR SECURITY NEEDS!
# For guidance, see OPERATIONAL_CONSIDERATIONS.md
[system]
panic-threshold = 1800
startup-panic-threshold = { forward="inf", backward = 1800 }
#accumulated-threshold = 1800
