#!/bin/sh 

. /etc/rc.subr 

# REQUIRE: DAEMON FILESYSTEMS devfs
# BEFORE:  LOGIN
# KEYWORD: nojail resume shutdown

name="ntp_daemon" 
rcvar="ntp_daemon_enable"


# start_cmd="${name}_start" 
stop_cmd=":" 
start_precmd="${name}_precmd"

command="/usr/local/bin/ntp-daemon"
pidfile="/var/run/ntpd-rs.pid"
required_files="$command"

: ${ntp_daemon_enable:="NO"} 
# : ${ntp_daemon_user:="ntpd-rs"}
# : ${ntp_daemon_group:="ntpd-rs"}


ntp_daemon_precmd()
{
    export RUST_LOG="info"
    if [ ! -d /var/run/ntpd-rs ]; then
        install -d -o $ntp_daemon_user -g $ntp_daemon_group -m 0755 /var/run/ntpd-rs
    fi
}

load_rc_config $name 
run_rc_command "$1"
