[package]
name = "ntp-udp"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0 OR MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.19.2", features = ["net"] }
libc = "0.2.126"
ntp-proto = { path = "../ntp-proto" }
tracing = "0.1.35"

[dev-dependencies]
tokio-test = "0.4.2"
