[package]
name = "ntp-udp"
version = "0.2.1"
edition = "2021"
license = "Apache-2.0 OR MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.23.0", features = ["net"] }
libc = "0.2.138"
ntp-proto = { path = "../ntp-proto" }
tracing = "0.1.37"

[dev-dependencies]
tokio = { version = "*", features = ["full"] }
