[package]
name = "ntp-udp"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0 OR MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.18.1", features = ["net"] }
libc = "0.2.124"
ntp-proto = { path = "../ntp-proto" }
