[Unit]
Description=Network Time Service (ntpd-rs) metrics exporter
Documentation=https://github.com/pendulum-project/ntpd-rs

[Service]
Type=notify
Restart=always
ExecStart=/usr/bin/ntp-metrics-exporter
Environment="RUST_LOG=info"
User=ntpd-rs-observe
Group=ntpd-rs-observe

NoNewPrivileges=yes
AmbientCapabilities=
CapabilityBoundingSet=

## No access to any /dev
DevicePolicy=closed
PrivateDevices=yes

## Standard minimal systemd lockdown
LockPersonality=yes
MemoryDenyWriteExecute=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_NETLINK AF_INET AF_INET6
RemoveIPC=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@basic-io @file-system @io-event @network-io @signal ioctl
UMask=0000

[Install]
WantedBy=multi-user.target
