# a server that demobilizes on every incomming request

[observability]
log-level = "info"

# the server will get its time from the NTP pool
[[source]]
mode = "pool"
address = "pool.ntp.org"
count = 4

[[server]]
listen = "0.0.0.0:123"

[server.allowlist]
filter = []
action = "deny"

[[source]]
mode = "Gps"
address = "/dev/serial0"
measurement_noise = 0.001
baud_rate = 9600

[[source]]
mode = "Pps"
address = "/dev/pps0"
measurement_noise = 0.001


# configure the client with
# [[source]]
# mode = "server"
# address = "0.0.0.0:123"