[observability]
# Other values include trace, debug, warn and error
log-level = "info"
observation-path = "/run/ntpd-rs/observe"

# See CONFIGURATION.md for how to set up certificates
[[peers]]
mode = "nts"
address =  "localhost:4460"
certificate_authority = "path/to/certificate/authority.pem"

# System parameters used in filtering and steering the clock:
[synchronization]
minimum-agreeing-peers = 1
single-step-panic-threshold = 10
startup-step-panic-threshold = { forward = "inf", backward = 1800 }
