[package]
name = "ntp-daemon"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0 OR MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.20.1", features = ["full"] }
ntp-proto = { path = "../ntp-proto" }
ntp-os-clock = { path = "../ntp-os-clock" }
ntp-udp = { path = "../ntp-udp" }
tracing = "0.1.36"
tracing-subscriber = { version = "0.3.15", features = ["env-filter", "serde", "json"] }
clap = { version = "3.2.17", features = ["derive", "env"] }
toml = "0.5.9"
thiserror = "1.0.32"
serde = { version = "1.0.144", features = ["derive"] }
serde_json = "1.0.85"
sentry = { version = "0.27.0", optional = true, default-features = false, features = ["backtrace", "contexts", "panic", "reqwest", "rustls"] }
sentry-tracing = { version = "0.27.0", optional = true }
rand = "0.8.5"
libc = "0.2.132"
exitcode = "1.1.2"

[dev-dependencies]
ntp-proto = { path = "../ntp-proto", features=["ext-test"]}
tokio-test = "0.4.2"

[features]
sentry = ["dep:sentry", "dep:sentry-tracing"]
