[package]
name = "ntp-daemon"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0 OR MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.21.2", features = ["full"] }
ntp-proto = { path = "../ntp-proto" }
ntp-os-clock = { path = "../ntp-os-clock" }
ntp-udp = { path = "../ntp-udp" }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter", "serde", "json"] }
clap = { version = "4.0.14", features = ["derive", "env"] }
toml = "0.5.9"
thiserror = "1.0.37"
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0.86"
sentry = { version = "0.27.0", optional = true, default-features = false, features = ["backtrace", "contexts", "panic", "reqwest", "rustls"] }
sentry-tracing = { version = "0.27.0", optional = true }
rand = "0.8.5"
libc = "0.2.135"
exitcode = "1.1.2"

[dev-dependencies]
ntp-proto = { path = "../ntp-proto", features=["ext-test"]}

[features]
sentry = ["dep:sentry", "dep:sentry-tracing"]
fuzz = []
