name: nightly

permissions:
  contents: read

on:
  push:
    branches:
      - 'release/**'
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch: {}

jobs:
  test-freebsd:
    # see https://github.com/actions/runner/issues/385
    # use https://github.com/vmactions/freebsd-vm for now
    name: test on freebsd
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: test on freebsd
        uses: vmactions/freebsd-vm@c54ba3b62f49de9b67a2f3af017ab6152f0ebb6f
        with:
          usesh: true
          mem: 4096
          copyback: false
          prepare: |
            pkg install -y curl cmake llvm-devel
            curl https://sh.rustup.rs -sSf --output rustup.sh
            sh rustup.sh -y --profile minimal --default-toolchain stable
            . "$HOME/.cargo/env"
            rustup component add clippy
            echo "~~~~ rustc --version ~~~~"
            rustc --version
            echo "~~~~ freebsd-version ~~~~"
            freebsd-version
          run: |
            . "$HOME/.cargo/env"
            cargo clippy --workspace --all-targets -- -D warnings &&
            cargo build --all-targets &&
            cargo test
